extends base
include mixins/content

block content 
    h1 TXT => HTML

    form(method="POST" action="/read", enctype="multipart/form-data")
        lael(for="html") 
        input(name="html", type="file", id="html", accept="text/*")
        input(type="submit", value="Convert!")

    if data
        h2 Now We have #{contentNumber} contents   
        each content in data
            +content(content)